* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
}
.nav{
   position: fixed;
  height:100px;
  width:100%;
  background-color:rgba(255,255,255,0.5)
  
}
#first {
  background-image: url("https://raw.githubusercontent.com/MCHsu/Tipbox/master/slider_1.jpg");
  background-size: cover;
}
.menu {
  background-image: url("https://github.com/MCHsu/Tipbox/blob/master/textbox.png?raw=true") no-repeat;
  background-color: rgba(26, 23, 24, 0.9);
  width: 50%;
  height: 100vh;
  color: white;

   display: -webkit-flex;
  display: flex;

}
.text {
    position: relative;
  left: 100px;
  top: 200px;
  font-size: 25px;
  font-weight: bold;
   letter-spacing:4px;
  line-height:50px;
  word-spacing:3px;
    -webkit-flex: 1;
          flex: 1;
}
.top p {
  display: inline-block;
  position: relative;
  fioat:right;
  left: 1000px;
  color:white;
}
.search img{
     position: relative;
top:500px;
  left:100px;
  width:250px;
  height:40px;
    -webkit-flex: 1;
          flex: 1;
}
#second {
  background-color: #e6e5e0;
   text-align:center;
}

div.logo {
  height: 80px;
  background-color: white;
    text-align:center;
   display: -webkit-flex;
  display: flex;
}
img.logo{
margin:20px auto;
  padding:0 50px;
   -webkit-flex: 4;
          flex: 4;
}
.second h1{
  padding-top:40px;
  font-size:40px;
  word-spacing:3px;
  letter-spacing:2px;
}
.second{
}
.floatall{
  display: -webkit-flex;
  display: flex;
}
.float {
  display:inline-block;
  margin:15vh 7vw;
  -webkit-flex: 4;
          flex: 4;
  
}
p.float {
  font-size: 18px;
   word-spacing:-1px;
 font-weight: normal;
  line-height:23px;
}
.dot {
  background-color: #f4511c;
  border-radius: 50%;
  text-align:center;
  width: 30px;
  height:30px;
  color:white;
  margin:10px auto;
   
}
iframe.map{height:100vh;}
#four {
  background-image: url(https://github.com/MCHsu/Tipbox/blob/master/slider_2.jpg?raw=true);
  background-size: cover;
  background-color: rgba(20, 23, 24, 0.6);
  background-blend-mode: multiply;
  color: white;
  position: relative;
}

.search {
  margin-top: 10px;
}

footer {
  background-color: #231f20;
  color: white;
  text-align: center;
  height: 350px;
  font-family: Quicksand;
  letter-spacing:1px;
}

.footer {
padding-top:30px;
}
.footer p{
  white-space:pre;
}
.footer1{ 
 padding:10px;
}
img.footer1{
  display:inline-block;
}

find {
  float: left;
  margin-top: 200px;
}
.vote{
  padding-bottom:15px;
}
.vote h1{
   position: relative;
  left: 200px;
  top: 100px;
  letter-spacing:3px;
  font-size:60px;
  font-weight:normal;
}
.vote p{
  position: relative;
  left: 200px;
  top: 100px;
  letter-spacing:1px;
  line-height: 30px;
  word-spacing:3px;
    font-size:25px;
}

.input {
  height: 40px;
  width: 300px;
  float: left;
  margin-left: 200px;
  margin-top: 100px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  border-radius: 90px;
  background-image: url("https://github.com/MCHsu/Tipbox/blob/master/choose_1.png?raw=true");
  background-size: cover;
}
